<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# <div class="field"> %>
    <%# <%= form.label :name %> %>
    <%# <%= form.text_field :name %> %>
  <%# </div> %>

  <div class="field">
    <%= form.label :resource_type_id %>
    <%= form.collection_select :resource_type_id, ResourceType.order(:name), :id, :name, prompt: "Choose a Type" %>
  </div>

  <div class="field">
    <%= form.label :resource_subtype_id %>
    <%= form.grouped_collection_select :resource_subtype_id, ResourceType.order(:name), :resource_subtypes, :name, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :resource_id %>
    <%= form.grouped_collection_select :resource_id, ResourceSubtype.order(:name), :resources, :name, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.grouped_collection_select :activity_id, Resource.order(:name), :activities, :name, :id, :name %>
  </div>

  <%# <div class="field"> %>
    <%# <%= form.label :notes %> %>
    <%# <%= form.text_box :notes %> %>
  <%# </div> %>

  <% names = [["Not Assigned", nil]] %>
  <% @people.each do |person| %>
    <% unless person.inactive %>
      <% names << [person.name, person.id] %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.select :person_id, options_for_select(names, @task.person_id) %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :due %>
    <%= form.datetime_select :due %>
  </div>
  
  <div class="field">
    <%= form.label :complete %>
    <%= form.check_box :complete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
