<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <% names = [["Not Assigned", nil]] %>
  <% @people.each do |person| %>
    <% unless person.inactive %>
      <% names << [person.name, person.id] %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.select :person_id, options_for_select(names, @task.person_id) %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :due %>
    <%= form.datetime_select :due %>
  </div>
  
  <div class="field">
    <%= form.label :complete %>
    <%= form.check_box :complete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
