<p id="notice"><%= notice %></p>


<p>
  <strong>Complete?:</strong>
  <%= @task.complete %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user&.name || "Not Assigned" %>
</p>

<p>
  <strong>Start:</strong>
  <%= @task.start %>
</p>

<p>
  <strong>Due:</strong>
  <%= @task.due %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back to Task List', tasks_path %> |
<%= button_to 'Mark as Complete', @task, method: :patch, 
                                         data: { confirm: 'Are you sure?' },
                                         params: { task: { complete: true } } 
                                         %>
