<%= form_with(model: activity_template) do |form| %>
  <% if activity_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity_template.errors.count, "error") %> prohibited this activity_template from being saved:</h2>

      <ul>
        <% activity_template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :default_values %>
    <%= form.text_area :default_values %>
  </div>

  <div class="field">
    <%= form.label :yield %>
    <%= form.text_area :yield %>
  </div>

  <div class="field">
    <%= form.label :resource_subtype_id %>
    <%= form.collection_select :resource_subtype_id, ResourceSubtype.order(:name), :id, :name, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
