<%= form_with(model: resource) do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :resource_type_id %>
    <%= form.collection_select :resource_type_id, ResourceType.order(:name), :id, :name, prompt: "Choose a Type" %>
  </div>

  <div class="field">
    <%= form.label :resource_subtype_id %>
    <%= form.grouped_collection_select :resource_subtype_id, ResourceType.order(:name), :resource_subtypes, :name, :id, :name%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :date_on_farm %>
    <%= form.date_select :date_on_farm %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
